<h1 class="mb-1 restaurant-show-title">修改支出</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <p><small class="text-secondary">( <span class="text-danger">*</span> 號欄位為必填)</small></p>
      <form action="/expenses/{{ expense._id }}?_method=PUT" method="POST">
        <div class="form-row">
          <div class="form-group">
            <i class="fas fa-store"></i>
            <label for="name">名稱<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="name" id="name" placeholder="ex: 早餐" value="{{ expense.name }}" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <i class="fas fa-phone-alt"></i>
            <label for="date">日期<span class="text-danger">*</span></label>
            <input type="date" class="form-control" name="date" placeholder="date" value="{{ dateFormate expense.date }}" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <i class="fas fa-cookie"></i>
            <label for="category">類別<span class="text-danger">*</span></label>
            <select id="category" name="category" class="form-control" required>
              <option value="家居物業" {{{isSelected "家居物業" expense.categoryId.name}}}>家居物業</option>
              <option value="交通出行" {{{isSelected "交通出行" expense.categoryId.name}}}>交通出行</option>
              <option value="休閒娛樂" {{{isSelected "休閒娛樂" expense.categoryId.name}}}>休閒娛樂</option>
              <option value="餐飲食品" {{{isSelected "餐飲食品" expense.categoryId.name}}}>餐飲食品</option>
              <option value="其他" {{{isSelected "其他" expense.categoryId.name}}}>其他</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="amount">金額<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="amount" id="amount" inputmode="numeric" placeholder="ex: 100" value="{{ expense.amount }}" required>
          </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <button class="btn btn-outline-secondary btn-sm mr-3 btn-crud" type="submit">
            <i class="fas fa-save"></i>儲存
          </button>
          <a href="/">
            <button type="button" class="btn btn-outline-secondary btn-sm btn-crud">
              <i class="fas fa-times"></i>取消
            </button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>