<form action="/filter" class="row" id="filter" onchange="filter.submit()">
  <div class="form-group col-8 my-3 ml-1">
    <select class="form-control form-control-sm" id="category" name="category">
      <option value="全部" {{{isSelected category '全部' }}}>依照類別篩選</option>
      <option value="家居物業" {{{isSelected category '家居物業' }}}>家居物業</option>
      <option value="交通出行" {{{isSelected category '交通出行' }}}>交通出行</option>
      <option value="休閒娛樂" {{{isSelected category '休閒娛樂' }}}>休閒娛樂</option>
      <option value="餐飲食品" {{{isSelected category '餐飲食品' }}}>餐飲食品</option>
      <option value="其他" {{{isSelected category '其他' }}}>其他</option>
    </select>
  </div>
</form>
<div class="row mx-1">
  <div class="col-12 bg-secondary rounded pt-3">
    <h4 class="text-light">總金額：</h4>
    <h1 class="text-right text-warning">$<spn class="totalAmount">{{totalAmount expenses}}</spn>
    </h1>
  </div>
</div>

<form class="mt-3 mr-1" action="/" method="GET" id="Sorting">
  <div class="form-group">
    <label for="sort" class="mr-1">排序方式</label>
    <select class="form-control form-control-sm" name="sort" id="sort" onchange="Sorting.submit()">
      <option value="amount" {{#if sort.amount}}selected{{/if}}>金額(高->低)</option>
      <option value="lessAmount" {{#if sort.lessAmount}}selected{{/if}}>金額(低->高)</option>
      <option value="newDate" {{#if sort.newDate}}selected{{/if}}>日期(新->舊)</option>
      <option value="oldDate" {{#if sort.oldDate}}selected{{/if}}>日期(舊->新)</option>
      <option value="name" {{#if sort.name}}selected{{/if}}>名稱</option>
      <option value="category" {{#if sort.category}}selected{{/if}}>類別</option>
    </select>
  </div>
</form>

<a href="./expenses/new">Create</a>
<ul>
  {{#each expenses}}
  <li>
    <i class="{{ this.icon }} fa-2x mr-5"></i>
    {{ this.name }}, {{ dateFormate this.date }}, {{ this.amount }}
    <a href="./expenses/{{ this._id }}">detail</a>
    <a href="./expenses/{{ this._id }}/edit">edit</a>
    <form action="./expenses/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>