<form class="mt-3 mr-1" action="/" method="GET" id="Sorting">
  <div class="form-group">
    <label for="sort" class="mr-1">排序方式</label>
    <select class="form-control form-control-sm" name="sort" id="sort" onchange="Sorting.submit()">
      <option value="amount" {{#if sort.amount}}selected{{/if}}>金額(高->低)</option>
      <option value="lessAmount" {{#if sort.lessAmount}}selected{{/if}}>金額(低->高)</option>
      <option value="newDate" {{#if sort.newDate}}selected{{/if}}>日期(新->舊)</option>
      <option value="oldDate" {{#if sort.oldDate}}selected{{/if}}>日期(舊->新)</option>
      <option value="name" {{#if sort.name}}selected{{/if}}>名稱</option>
      <option value="category" {{#if sort.category}}selected{{/if}}>類別</option>
    </select>
  </div>
</form>

<a href="./expenses/new">Create</a>
<ul>
  {{#each expenses}}
  <li>
    <i class="{{ this.icon }}"></i>
    {{ this.name }}, {{ dateFormate this.date }}, {{ this.amount }}
    <a href="./expenses/{{ this._id }}">detail</a>
    <a href="./expenses/{{ this._id }}/edit">edit</a>
    <form action="./expenses/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>